* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.clear:fix {
    content: '';
    display: table;
    clear: both;
}

.width-50 {
    width: 50%;
}


/* header */

header {
    height: 550px;
}

.header-container {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    min-width: 1200px;
    background-color: rgb(12, 50, 90);
    background-image: url(../img/background-header.png);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 120% 110%;
}


/* nav */

.header-nav {
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}

.float-left {
    float: left;
}

.header-nav .header-logo {
    width: 15%;
}

.header-nav .header-logo img {
    margin-top: 15px;
}

.header-nav .header-center {
    width: 50%;
}

.header-nav .header-right {
    width: 35%;
    float: right;
}

.menu-inline {
    list-style: none;
}

.menu-inline li {
    display: inline;
    padding: 0 2%;
}

.menu-inline li a {
    text-decoration: none;
    font-size: 80%;
    text-transform: uppercase;
    color: white;
}

.button {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 80%;
    text-transform: uppercase;
    color: white;
}

.button.button-green {
    border: none;
    background-color: rgb(124, 187, 4);
}


/* /nav */

.title {
    position: relative;
    height: 470px;
}

.title .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text h1 {
    font-size: 300%;
    margin-bottom: 30px;
    color: white;
}

.button.button-large {
    padding: 20px;
}


/* /header */


/* main */

main {
    width: 100%;
    height: 100vh;
}

.first-section {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(211, 211, 211);
}

.first-section .texts {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 35px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.first-section p {
    color: rgb(134, 134, 134);
}


/* column */

.second-section {
    padding-top: 30px;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.second-section .column-left,
.second-section .column-center {
    float: left;
    margin-right: 5%;
    width: 30%;
    height: 100%;
}

.column-right {
    float: left;
    width: 30%;
    height: 100%;
}

.image-left,
.image-center,
.image-right {
    width: 100%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-left {
    background-image: url(../img/profile.svg);
}

.image-center {
    background-image: url(../img/computer.svg);
}

.image-right {
    background-image: url(../img/doc.svg);
}

.second-section h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgb(124, 187, 4);
    border-bottom: 1px solid black;
}

.column-left p,
.column-center p,
.column-right p {
    text-align: center;
    padding-top: 30px;
    color: rgb(135, 135, 135);
}


/* /column */

.third-section {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 5%;
}

.mountain-image {
    float: left;
}

.right-text {
    float: right;
}

.right-text h1,
.right-text p,
.right-text a {
    padding: 10px;
}

.right-text p {
    color: rgb(132, 132, 132);
}

.right-text a {
    font-size: 13px;
}

.mountain-image {
    width: 50%;
    height: 80%;
    background-image: url(../img/mountain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* /main */


/* footer */


/* /footer */